{% load static %}
<header class="col-span-full flex justify-between items-center p-2 pt-4 bg-[whitesmoke] dark:bg-[#0F172A] transition-all">
  <div>
    <img class="h-8 object-contain" x-bind:src="!darkMode ? '{% static 'amazon_logo1.png' %}' : '{% static 'amazon_logo2.png' %}'" alt="" />
  </div>

  <img x-on:click="darkMode = !darkMode, open = !open" class="w-6 h-6 select-none cursor-pointer -mt-2" x-bind:src="darkMode ? 'https://img.icons8.com/small/64/FFFFFF/menu.png' : 'https://img.icons8.com/small/64/menu.png'" />
</header>
