@tailwind base;
@tailwind components;
@tailwind utilities;

.product > h3:hover,
.product > p:hover {
  @apply text-red-500 transition-all cursor-pointer;
}

.btn {
  @apply text-sm font-bold px-4 py-2 bg-orange-600 rounded-md transition-all border-2 border-orange-600 uppercase dark:text-white;
}

.btn:hover {
  @apply border-yellow-400 bg-orange-500;
}

.mobileClass > li {
  @apply text-center my-4 bg-white dark:bg-[#1E1F22] w-full p-2 rounded-md cursor-pointer;
}

html {
  font-family: "Roboto", sans-serif;
}

header > div:first-child {
  position: relative;
  font-family: "Concert One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

header > div:first-child::after {
  position: absolute;
  top: 50%;
  left: 70%;
  color: chocolate;
  content: "Clone";
  font-weight: bold;
}

footer > div p {
  color: chocolate;
  font-family: "Concert One", sans-serif;
  font-weight: 700;
}
