@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply text-4xl text-purple-500 font-bold;
}

.mobileClass > li {
  @apply text-center my-4 bg-white dark:bg-[#1E1F22] w-full p-2 rounded-md cursor-pointer;
}

html {
  font-family: "Roboto", sans-serif;
}

header > div:first-child {
  position: relative;
  font-family: "Concert One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

header > div:first-child::after {
  position: absolute;
  top: 50%;
  left: 70%;
  color: chocolate;
  content: "Clone";
  font-weight: bold;
}

footer > div p {
  color: chocolate;
  font-family: "Concert One", sans-serif;
  font-weight: 700;
}
