{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" x-data="{ darkMode: localStorage.getItem('dark') === 'true' }" x-init="$watch('darkMode', value => localStorage.setItem('dark', value))" :class="{ 'dark': darkMode, 'light': !darkMode }">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'amazon-svgrepo-com.svg' %}" sizes="64x64" type="image/png" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}" />
    <title>Amazon - clone</title>
    {% tailwind_css %}
  </head>
  <body>
    {% block content %}

    {% endblock %}
  </body>
</html>
